<div id="map" style="height: 95%"></div>

<div id="form">
  <select
    placeholder="Election date"
    [(ngModel)]="selectedElection"
    (change)="dateValueSelected(selectedElection)"
  >
    <option *ngFor="let date of electionDates" [ngValue]="date">
      {{ date.ElectionDate }}
    </option>
  </select>

  <select
    placeholder="Election race"
    [(ngModel)]="selectedRace"
    (change)="raceValueSelected()"
  >
    <option *ngFor="let race of electionRaces">{{ race.SpecificTitle }}</option>
  </select>
</div>
